<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-8 offset-2">
        <h3 style="margin: 2rem 0 2rem 0;">New Listing</h3>
        <form method="POST" action="/listings" >
            <div class="mb-3" >
                <label for="title" class="form-label" >Title</label>
                <input name="listing[title]" type="text" placeholder="name of the listing" class="form-control" >
            </div>
            <div class="mb-3" >
                <label for="description" class="form-label" >Description</label>
                <textarea name="listing[description]" rows="5" cols="60" class="form-control" placeholder="about the listing"></textarea>
            </div>
            <div class="mb-3" >
                <label for="image" class="form-label" >Image Url</label>
                <input name="listing[image][url]" type="text" class="form-control" placeholder="enter image url/link">
            </div>

            <div class="row">
                <div class="mb-3 col-md-4" >
                    <label for="price" class="form-label" >Price</label>
                    <input name="listing[price]" type="number" class="form-control">
                </div>

                <div class="mb-3 col-md-8" >
                    <label for="country" class="form-label" >Country</label>
                    <input name="listing[country]" type="text" class="form-control" placeholder="India">
                </div>
            </div>

            <div class="mb-3" >
                <label for="location" class="form-label" >Location</label>
                <input name="listing[location]" type="text" class="form-control" placeholder="Hyderabad, Telangana">
            </div>
            
            <button type="submit" class="btn btn-danger mb-3">save</button>
        </form>
    </div>
</div>